<a href="https://colab.research.google.com/github/iamzehan/think_stats/blob/main/Start.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd '/content/drive/MyDrive/Think Bayes/Chapter 1'

/content/drive/MyDrive/Think Bayes/Chapter 1

In [ ]:
import pandas as pd
gss=pd.read_csv('./Dataset/gss_bayes.csv',index_col=0)
gss.head()

        year   age  sex  polviews  partyid  indus10
caseid
1       1974  21.0    1       4.0      2.0   4970.0
2       1974  41.0    1       5.0      0.0   9160.0
5       1974  58.0    2       6.0      1.0   2670.0
6       1974  30.0    1       5.0      4.0   6870.0
7       1974  48.0    1       5.0      4.0   7860.0

# **Fraction of Bankers**


---
### Code for Banking and related activities is '6870'. Since Linda happens to be a bank teller it is only plausible to iron out the rest of the professions.

In [ ]:
banker=(gss['indus10']==6870)
banker.head()

caseid
1    False
2    False
5    False
6     True
7    False
Name: indus10, dtype: bool

In [ ]:
#let's see how may bankers are there
banker.sum()

728

In [ ]:
#let's compute the fraction of bankers among the total surveyed people
banker.mean()

0.014769730168391155

In [ ]:
# Let's just put the code in a function 

def prob(A):
  return A.mean()

In [ ]:
#let's test it out 
prob(banker)

0.014769730168391155

All ok, now let's look at another variable in the dataset. The values of the column sex are ecoded:


1.   Male
2.   Female

In [ ]:
#let's find out how many are females
female=(gss['sex']==2)
prob(female)

0.5378575776019476

**Political Views and Parties**


1.   Extremely Liberal
2.   Liberal
3.   Slightly Liberal
4. Moderate
5. Conservative
6. Extremely conservative

**Political Party**

0.   Strong Democrat
1.   Not Strong Democrat
2.   Independent,near democrat
3.   Independent
4.   Independent,near republican
5.   Not strong republican
6.   Strong republican
7.   others

In [ ]:
#let's find out how many are liberals among them
liberal= (gss['polviews']<=3)
prob(liberal)

0.27374721038750255

In [ ]:
#let's find out how many of them are democrats
democrat= (gss['partyid']<=1)
prob(democrat)

0.3662609048488537

# **Conjunction**


---


Conjunction is the definition of having two premises (e.g. **A** & **B**) and if both of them are true then the conclusion is also true and vice-versa.

*N.B. This is only applicable if the premises are of boolean datatypes or categorical datatypes that consists of binary classes*

In [ ]:
# So we have previously devised the probability of a subject being a banker and a subject being democrat (Separately)
# Now we are going to corrborate the probability of a banker being a democrat

prob(banker & democrat & female)

0.003956177723676202

# **Conditional Probability**



*   What are the chances of **B** being **True** given the fact that **A** is **True** ?

``Here the conclusion of Premise 'A' affects the value of 'B' being of value more or less than 0.5 ``  More than a half depicts that most of 'B' is present because of 'A' being **True** and the opposite.



Let's start out like this:

* Of all the respondents that are ***liberals**, how many are ***democrats**?

In [ ]:
democrat_liberals= democrat[liberal]

prob(democrat_liberals)

0.5206403320240125

So more than a half of the liberals are democrats

In [ ]:
#let's try to find out how  many are females among the bankers

female_bankers=female[banker]
prob(female_bankers)

0.7706043956043956

In [ ]:
%cd '/content/drive/MyDrive/Think Bayes/'

/content/drive/MyDrive/Think Bayes

In [ ]:
!git init

Initialized empty Git repository in /content/drive/MyDrive/Think Bayes/.git/

In [ ]:
!git add .

In [ ]:
!git status

On branch master

No commits yet

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

	new file:   Chapter 1/Dataset/gss_bayes.csv
	new file:   Chapter 1/Start.ipynb

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   Chapter 1/Start.ipynb

In [ ]:
!git commit -m "Chapter 1"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@8df02c6c04f4.(none)')

In [ ]:
!git config --global user.email "zehan.kareem@gmail.com"
!git config --global user.name "iamzehan"
!git config --global git

In [ ]:
!git commit -m "Chapter 1"

[master (root-commit) 22e328a] Chapter 1
 2 files changed, 49292 insertions(+)
 create mode 100644 Chapter 1/Dataset/gss_bayes.csv
 create mode 100644 Chapter 1/Start.ipynb

In [ ]:
!git branch -M main

In [ ]:
!git remote add origin https://github.com/iamzehan/thinking_statistics.git

In [ ]:
!git push -u origin main

fatal: could not read Username for 'https://github.com': No such device or address